<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JavaScript</display-name>
  <welcome-file-list>
    <welcome-file>inicio2.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CargarTrabajadores</servlet-name>
    <servlet-class>servicios.CargarTrabajadores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarTrabajadores</servlet-name>
    <url-pattern>/CargarTrabajadores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CargarMenu</servlet-name>
    <servlet-class>servicios.CargarMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarMenu</servlet-name>
    <url-pattern>/CargarMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Persona</servlet-name>
    <servlet-class>beans.Persona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Persona</servlet-name>
    <url-pattern>/Persona</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CargaMenuSelect</servlet-name>
    <servlet-class>servicios.CargaMenuSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargaMenuSelect</servlet-name>
    <url-pattern>/CargaMenuSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CargaJSON</servlet-name>
    <servlet-class>servicios.CargaJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargaJSON</servlet-name>
    <url-pattern>/CargaJSON</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
</web-app>